// _cards.scss
.card {
  border-radius: 10px;
  transition: transform 0.3s ease;

  img {
    max-width: 100%;
    border-radius: 10px;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}
